@media only screen and (max-width: 1080px) {
	.icon {
		display:block;
 }

	.menu_nav {
		display: none;
 }

	.btn_container {
		display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    margin-right: 10px;
 }

.welcome_container h1, .welcome_container p {
 	margin-left: 5px;
 }

 .btn_welcome {
 	margin-left: 5px;
 }

 

}

@media only screen and (max-width: 768px) {
 .welcome_container h1 {
	font-size: 28px;
  line-height: 36px;
 }

 .welcome_container p {
  font-size: 18px;
  margin: 0 0 25px 0;
 }

.btn_intro {
	margin-left: 100px;
}

.intro_image {
  margin: 30px 95px 0;
}*/


}


