/* Reset */

body, ul, li, h1, h2, h3, h4, p { 
	padding: 0px;
	margin: 0px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	font-family: "Poppins", sans-serif;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	display: block;
}

/*Header*/

.header {
	position: fixed;
	width: 100%;
	background-color: #fff;
	padding: 8px 0;
}

.header_container {
	display: flex;
	align-items: center;
	margin: 0 auto;
	max-width: 1150px;
	padding: 0 10px;
}

.icon {
	display: none;
	color: #37423b;
	font-size: 24px;
}

.menu_logo {
	color: #5fcf80;
	font-size: 32px;
	font-weight: 600; 
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 5px;
}

.menu_nav {
	flex-grow: 1;
}

.menu_nav ul {
  font-size: 15px;
	font-weight: 500;
	display: flex;
	justify-content: flex-end;
	font-family: "Poppins", sans-serif;
}

.menu_nav ul li a{
	color: #37423b;
}

.menu_nav ul a:hover {
	color: #5fcf80;
  transition: 300ms;
}

.menu_item {
	margin: 3px 14px;
}

.btn_menu {
	background:#5fcf80;
	color:#fff;
	font-size: 14px;
	padding: 10px 25px;
	border-radius: 50px;
	text-align: center;
	font-family: "Open Sans", sans-serif;
}

.btn_menu:hover {
	background-color: #3AC162;
  transition: 300ms;
}

/*Welcome*/

.welcome_background {
	background-image: url('images/overlay.png'), url('images/hero-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 500px;
  padding-top: 180px;
  background-position: center top;
}

.welcome_container {
	max-width: 1150px;
	padding: 0 10px;
  margin: 0 auto;
}

.welcome_container h1 {
	font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  max-width: 500px;
}

.welcome_container p {
	color: #eee;
  margin-top: 10px;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 40px;
}

.btn_welcome {
	display: inline-block;
	color:#fff;
	font-size: 15px;
	letter-spacing: 1px;
	padding: 12px 35px;
	border-radius: 50px;
	border: 2px solid #fff;;
	text-align: center;
	font-family: "Raleway", sans-serif;
}

.btn_welcome:hover {
	background-color: #3AC162;
	border-color: #3AC162;
  transition: 300ms;
}

/*Introducao*/

.intro {
	max-width: 1150px;
	padding: 0 10px;
  margin: 0 auto;
}

.intro_sobre h2 {
	font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 65px 0 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.intro_sobre h2::after {
	content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #9ae1af;
  margin: 4px 10px;
}

.intro_sobre p {
	font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #37423b;
  margin-bottom: 40px;
}

.intro_conteudo {
	display: flex;
	gap: 30px;
}

.intro_item {
	font-style: italic;
}

.intro_titulo, .intro_image {
	flex: 1;
}

.intro_titulo h3 {
	font-size: 26px;
	font-family: "Raleway", sans-serif;
	line-height: 1.2;
	color: #444444;
	margin-bottom: 10px;
	font-weight: 600;
}

.intro_titulo p, .intro_titulo ul {
	font-family: "Open Sans", sans-serif;
	color: #444444;
	font-size: 16px;
  line-height: 1.5;
}
 
.intro_titulo li {
 	margin: 15px 0;
}

.check {
 	color: #5fcf80;
 	font-size: 20px;
 	padding-right: 6px;
}

.intro_interno {
 	margin: 25px 0 22px;
}

/*Numeros*/

.bg_numeros {
	background-color: #f6f7f6;
	margin-top: 60px;
}

.container_numero {
	display: flex;
	max-width: 1150px;
  margin: 0 auto;
}

.container_numero > div {
	text-align: center;
	padding: 50px 0;
	flex:	1 1 325px;
}

.numeros {
	font-size: 48px;
  color: #5fcf80;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.texto {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #37423b;
  padding-top: 10px;
}

/*Qualidades*/

.qualidades_container {
	max-width: 1150px;
	padding: 60px 15px;
  margin: 0 auto;
  display: flex;
}

.qualidades_mentor {
	display: flex; 
	flex-direction:column;
	flex: 0 0 350px;
	background-color: #5fcf80;
	color: #fff;
	border-radius: 4px;
	padding: 30px;
}

.qualidades_mentor h3 {
	font-weight: 700;
  font-size: 34px;
  font-family: "Raleway";
  margin-bottom: 30px;
}

.qualidades_mentor p {
	margin-bottom: 30px;
	font-size: 15px;
}

.botao_interno {
	background-color: rgba(255, 255, 255, 0.2);
	color: #fff;
  border-radius: 50px;
  text-align: center;
  padding: 8px 30px;
  align-self: center;
}

.botao_interno:hover {
	background-color: #fff;
	color: #5fcf80;
  transition: 300ms;
}

.botao_interno i {
	color: inherit;
}

.qualidades_interno {
	display: 	flex;
	margin: 20px 0 20px 15px;
}

.qualidades_itens {
	text-align: center;
  background: #fff;
  padding: 40px 30px;
  flex-grow: 1;
  border: 1px solid #eef0ef;
}

.itens_internos {
	margin: 10px 15px;
}

.itens_internos:last-child {
  margin-right: 0px;
}

.icone_qualidades {
	font-size: 22px;
  padding: 22px;
  color: #5fcf80;
  margin-bottom: 30px;
  background: #ecf9f0;
  border-radius: 50px;
}

.qualidades_itens h4 {
	font-size: 20px;
	margin: 0 0 30px;
  font-family: "Raleway", sans-serif;
}

.qualidades_itens p {
	font-size: 15px;
  color: #848484;
  line-height: 1.5;
}

/*Serviços*/

.servicos_container {
	max-width: 1150px;
	padding: 60px 15px;
  margin: 0 auto;
}

.servicos {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.servicos li {
	display: flex;
	align-items: center;
  background: #fff;
  padding: 20px;
  flex: 1 1 225px;
  border: 1px solid #eef0ef;
  font-size: 22px;
}

.servicos li:hover {
	border-color: #5fcf80;
	color: #5fcf80;
  transition: 300ms;
}

.servicos li a {
	font-size: 16px;
	color: inherit;
	font-weight: 700;
	margin-left: 10px;
	font-family: "Raleway", sans-serif;
}

.fa-store {
	color:#ffbb2c;
}

.fa-poll {
	color: #5578ff;
}

.fa-calendar-alt {
	color: #e80368;
}

.fa-paint-roller {
	color: #e361ff;
}

.fa-coins {
	color: #47aeff;
}

.fa-bullseye {
	color: #ffa76e;
}

.fa-file-alt {
	color: #11dbcf;
}

.fa-warehouse {
	color: #4233ff;
}

.fa-anchor {
	color: #b2904f;
}

.fa-podcast {
	color: #b20969;
}

.fa-broadcast-tower {
	color: #ff5828;
}

.fa-fingerprint {
	color: #29cc61;
}

/*Cursos*/

.cursos_container {
	max-width: 1150px;
	padding: 60px 15px;
  margin: 0 auto;
}

.titulo_secao h2 {
	font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 5px 0px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.titulo_secao h2::after {
	content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #9ae1af;
  margin: 4px 10px;
}

.titulo_secao p {
	font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #37423b;
  margin-bottom: 40px;
}

.cursos {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	justify-content: center;
}

.cursos_item_titulo {
	display: flex;
	justify-content: space-between;
}
.cursos_item_info {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #eef0ef;
	margin-top: 10px;
  padding-top: 15px;
}

.cursos_item_info img {
	height: 50px;
}

.cursos_item {
  border: 1px solid #eef0ef;
  flex:	1 0 300px;
  max-width: 500px;
}

.usuario {
	display: flex;
	align-items: center;
}

.interacoes {
	display: flex;
	gap: 12px;
}
.interacao {
	display: flex;
	align-items: center;
}

.cursos_item_box {
	padding: 15px;
}

.cursos_item_box a {
	font-size: 20px;
	color: #37423b;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
}

.cursos_item_box a:hover {
	color: #5fcf80;
  transition: 300ms;
}


.cursos_item_box p {
	font-size: 14px;
  color: #777777;
  font-family: "Open Sans", sans-serif;
  line-height: 21px;
}

.cursos_item_titulo .label {
	background:#5fcf80;
	color:#fff;
	font-size: 14px;
	padding: 7px 14px;
	text-align: center;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	margin-bottom: 15px;
}

.cursos_item_titulo p {
	font-weight: 600;
	font-size: 18px;
	color: #37423b;
}

.usuario img {
	border-radius: 50%;
}

.usuario p {
	font-weight: 600;
  font-size: 16px;
  color: #5a6c60;
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
}

.interacao span, .interacao i {
	font-weight: 400;
  color: #5a6c60;
  padding-left: 5px;
  font-family: "Open Sans", sans-serif;
}

.interacao span {
 	font-size: 18px;
}

.interacao i {
 	font-size: 15px;
}

/*Professores*/

.professores_container {
	max-width: 1150px;
	padding: 60px 15px;
  margin: 0 auto;
}

.professores {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	justify-content: center;
}

.professores_item {
	
	border: 1px solid #eef0ef;
	flex:	1 0 300px;
  max-width: 500px;
}

.professores_conteudo {
	text-align: center;
	padding: 30px 20px;
}

.professores_conteudo h3 {
	font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: #444444;
}

.professores_conteudo h4 {
	font-size: 13px;
  font-style: italic;
 	color: #444444;
	font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 19.5px;
}

.professores_conteudo p {
	padding-top: 10px;  
	font-style: italic;
	font-size: 14px;
  color: #aaaaaa;
  font-family: "Open Sans", sans-serif;
  line-height: 21px;
}

.professores_icones {
	margin-top: 15px;
}

.professores_icones a {
	color: #7e9486;
	transition: 300ms;	
	font-size: 18px;
  margin: 0 3px;
}

.professores_icones a:hover {
	color: #5fcf80;
  transition: 300ms;
}


/*Footer 1*/

.footer {
	background-color: #f9faf9;
}

.footer_container {
	max-width: 1150px;
	padding: 60px 15px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.dados, .links, .servicos_links {
	flex-grow: 1;
}

.dados h2 {
	font-family: "Raleway", sans-serif;
	color: #37423b; 
	font-weight: 500;
	font-size: 28px;
}

.enderecos, .contatos {
	font-family: "Raleway", sans-serif;
	color: #777777; 
	font-size: 14px;
}

.enderecos {
	margin: 12px 0 28px;
	line-height: 25px;
}

.contatos {
	line-height: 25px;
}

.links h3, .servicos_links h3, .newsletter h3 {
	font-family: "Raleway", sans-serif;
	font-size: 16px;
  color: #444444;
  margin-bottom: 15px;
}

.links li i, .servicos_links li i {
	padding-right: 8px;
  color: #5fcf80;
  font-size: 14px;
}

.conteudos_links li a {
	color: #777777;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	line-height: 40px;
}

.conteudos_links li a:hover {
	color: #5fcf80;
  transition: 300ms;
}

.newsletter {
	max-width: 360px;
	flex-grow: 1;
}

.newsletter p {
	color: #37423b;
	font-size: 15px;
	font-family: "Open Sans", sans-serif;
}

.newsletter_form {
	display: flex;
	margin-top: 30px;
  background: #fff;
  border-radius: 50px;
  border: 1px solid #e0e5e2;
  padding-left: 25px;
}

.newsletter_form button {
	background:#5fcf80;
	color:#fff;
	font-size: 16px;
	padding: 10px 25px;
	border-radius: 50px;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	border: 1px solid #5fcf80;
	cursor: pointer;
}

.newsletter_form button:hover {
	background-color: #3ac162;
  transition: 300ms;
}

.newsletter_form input {
	border: none;
	flex-grow: 1;
}


/*Footer 2*/

.footer2 {
	background-color: #eef0ef;
}

.footer2_container {
	max-width: 1150px;
	padding: 24px 15px;
  margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.redes_sociais {
	display: flex;
	gap: 8px;
}

.botao_redondo {
	background: #5fcf80;
  color: #fff;
  font-size: 14px;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botao_redondo:hover {
	background-color: #3ac162;
  transition: 300ms;
}

.navegacao_topo {
	position: fixed;
	bottom: 10px;
	right: 15px;
	width: 40px;
	height: 40px;
	font-size: 18px;
	z-index: 99999999;
}

.creditos {
	color: #37423b;
	font-family: "Open Sans", sans-serif;
}

.creditos p:first-child {
	font-size: 14px;
	line-height: 21px;
}

.creditos p:nth-child(2) {
	font-size: 13px;
	line-height: 19.5px;
	padding-top: 5px;
}

.creditos a {
	color: #5fcf80;
}