/* Reset */

body, ul, li, h1, p {
	padding: 0px;
	margin: 0px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	font-family: "Poppins", sans-serif;
}

* {
	box-sizing: border-box;
}

/*Header*/

.header {
	position: fixed;
	width: 100%;
	background-color: #fff;
	padding: 8px 0;
}

.header_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1150px;
	padding: 0 10px;
 }

.icon {
	display: none;
	color: #37423b;
	font-size: 24px;

}

.menu_logo {
	color: #5fcf80;
	font-size: 32px;
	font-weight: 600; 
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 5px;
}

.menu_nav ul {
	font-size: 15px;
	font-weight: 500;
	display: flex;
	margin-left: 120px;
}

.menu_nav ul li a{
	color: #37423b;
}

.menu_nav ul a:hover {
	color: #5fcf80;
}

.menu_item {
	margin: 3px 14px;
}

.btn_menu {
	background:#5fcf80;
	color:#fff;
	font-size: 14px;
	padding: 10px 25px;
	border-radius: 50px;
	text-align: center;
	font-family: "Open Sans", sans-serif;
}

.btn_menu:hover {
	background-color: #3AC162;
}

/*Welcome*/

.container {
	background-image: url('images/overlay.png'), url('images/hero-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 500px;
  padding-top: 180px;
  background-position: center top;
}

.welcome_background {
	max-width: 1150px;
	padding: 0 10px;
  margin: 0 auto;
}

.welcome_background h1 {
	font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  max-width: 500px;
}

.welcome_background p {
	color: #eee;
  margin: 10px;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 40px;
}

.btn_welcome {
	display: inline-block;
	color:#fff;
	font-size: 15px;
	letter-spacing: 1px;
	padding: 12px 35px;
	border-radius: 50px;
	border: 2px solid #fff;;
	text-align: center;
	font-family: "Raleway", sans-serif;
}

.btn_welcome:hover {
	background-color: #3AC162;
	border-color: #3AC162;
}
